<!DOCTYPE html>
<html>
<head>
	<title>To Do List App</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
	<script src="ToDoList.js"></script>
	<style>
	span.done-true {
    color: grey;
    font-style: italic;
    text-decoration: line-through;
	}
    span[contentEditable="true"] {
    	background-color: grey;
    	padding: 3px;
    }
	</style>	
</head>
<body ng-app="ToDoApp" ng-controller="ToDoController">
	<h1 style="text-align:center"> Add Task</h1>
	<input type="text" ng-model="task" ng-keyup="SearchEnter()" style= "display:block;margin:0 auto;padding:5px;
	font-size: 15px; width:300px";>
	<div id="taskstoshow">
		<ul>
			<li ng-repeat="OneTask in tasks track by $index">
				<input type="checkbox" ng-model="OneTask.status">
				<span contentEditable="false" ng-dblclick="contentedit(OneTask.TaskMessage)" ng-keydown="enteragain(OneTask.TaskMessage)" 	ng-model="OneTask.TaskMessage" class= "done-{{OneTask.status}}">
				{{OneTask.TaskMessage}}
				</span>
			</li>
		</ul>
	</div>
</body>
</html>